html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  #introPic {
    float: left;
    height: 125px;
  }
  
  #bio {
    float: right;
    padding-top: 70px;
    padding-right: 15px;
    
  }
  #bio > li {
    padding: 2px;
  }
  
  #pro {
    width: auto;
  }

  div > img {
  max-width: 80vw;
}



  @media (min-width: 376px) {
    html {
      background-color: beige;
      font-family: 'Times New Roman', Courier, monospace;
    }
  }
    
 