html {
    background-color: antiquewhite;
  }
  
  body {
    text-align: center;
    font-size: 18px;
  }
  
  h1 {
    font-size: 50px;
  }
  
  img {
    height: 100%;
  }
  
  div {
    border: 2px solid burlywood;
    margin: 10px;
  }
  
  #introPic {
    float: left;
    height: 125px;
  }
  
  #bio {
    float: right;
    padding-top: 70px;
    padding-right: 15px;
    
  }
  #bio > li {
    padding: 2px;
  }
  
  #pro {
    width: auto;
  }

  @media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {
    body {
      font-size: 50px;
      padding: 50px;
    }
  }